Django==5.1.2
psycopg2-binary==2.9.10
dj-database-url==2.3.0
whitenoise[brotli]==6.4.0
gunicorn==23.0.0
openpyxl>=3.1
django-crispy-forms==2.4
crispy-bootstrap5==2025.4
django-bootstrap4==24.4
Pillow>=9.0
